<p-card>
  <div class="flex gap-3">
    <div
      class="flex justify-content-center align-items-center w-4rem h-3rem border-circle highlight-background"
    >
      <i [class]="iconClass() + ' ' + 'text-purple text-xl'"></i>
    </div>
    <div class="flex flex-column">
      <h5 class="flex justify-content-between capitalize">
        <span>{{ title() }} </span> <span> {{ typeTime() }}</span>
      </h5>
      <p class="text-xl mt-1 mb-2">{{ count() }}</p>
      <small class="text-xs text-400">{{ shortDiscription() }}</small>
    </div>
  </div>
</p-card>
