<app-menu-sidebar />
<div class="layout-header">
  <div class="flex justify-content-between align-items-center gap-3">
    @if(showBtnDisplayMenuSidebar()){
    <div>
      <button
        pButton
        pRipple
        (click)="showSidebar()"
        icon="fa-solid fa-bars"
        class="p-button-icon-only p-button-rounded p-button-outlined"
      ></button>
    </div>
    }
    <!-- <div class="search relative flex-grow-1 hidden sm:block">
      <p-autoComplete
        [(ngModel)]="selectLink"
        [suggestions]="blogList()"
        (completeMethod)="globalSearch($event)"
        placeholder="{{ 'Search For Blogs' | translate }}"
        [showEmptyMessage]="true"
        [completeOnFocus]="false"
        [delay]="1000"
        field="title"
        [forceSelection]="true"
      >
        <ng-template let-menu pTemplate="item">
          <div class="px-3">
            <a
              [href]="domain+ '/blogs'+'/'+(menu.slug)?.[currentLang()]"
              class="flex mb-1 gap-3 align-items-center gap-2 text-sm font-medium py-2"
              target="_blank"
            >
              <span>{{ menu.title }}</span>
            </a>
          </div>
        </ng-template>
      </p-autoComplete>
      <div class="icon-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div> -->
    <div class="flex align-items-center">
      <!-- <div class="ml-1 mr-1 flex">
        <app-lang-switcher></app-lang-switcher>
      </div> -->
      <div class="flex align-items-center">
        <p-avatar
          image="assets/media/icons/avatar.svg"
          styleClass="border-1 mr-2 border-400 p-1"
          size="large"
          shape="circle"
        ></p-avatar>
        <p-splitButton [model]="items" text>
          <ng-template pTemplate="content">
            <div class="info-user">
              <h4 class="capitalize mb-1">
                {{ this.currentUser()?.name }}
              </h4>
              <h6 class="text-400 font-light">
                {{ this.currentUser()?.role }}
              </h6>
            </div>
          </ng-template>
        </p-splitButton>
      </div>
    </div>
  </div>
</div>
