<div class="mb-2">
  <app-section-title
    title="{{ 'Reset Password' | translate }}"
    titleClass="text-center font-light"
    typeHeader="h1"
    descriptionClass="w-20rem"
  >
  </app-section-title>
</div>

<app-form
  [form]="resetForm"
  [model]="model"
  [fields]="fields"
  [submitBtnLoading]="loading()"
  buttonLabel="{{ 'Submit' | translate }}"
  footerFormClass="px-0"
  submitButtonClass="uppercase text-base w-full  bg-primary-color border-none shadow-none"
  (onSubmit)="resetPassword()"
>
</app-form>
