<div class="grid grid-nogutter h-full">
  <div class="col-12 lg:col-5 p-2">
    <div class="w-5 mx-auto flex justify-content-center md:pt-6 pt-2">
      <img
        class="w-14rem mb-2 text-center"
        src="assets/media/logo/creatvo.png"
        alt="logo"
      />
    </div>
    <div class="px-0 md:px-4 md:mt-6 mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="lg:col-7 hidden lg:block h-full">
    <img
      class="image block max-h-full w-full cover-object"
      src="assets/media/pexels-1.jpg"
      alt="imges"
    />
  </div>
</div>
