<div class="mb-2">
  <app-section-title
    title="{{ 'Forget Password' | translate }}"
    titleClass="text-center font-light"
    typeHeader="h1"
    descriptionClass="w-20rem"
  >
  </app-section-title>
</div>
@if(!message()){
<app-form
  [form]="forgetForm"
  [model]="model"
  [fields]="fields"
  [submitBtnLoading]="loading()"
  buttonLabel="{{ 'Submit' | translate }}"
  footerFormClass="px-0"
  submitButtonClass="uppercase text-base w-full  bg-primary-color border-none shadow-none"
  (onSubmit)="forgetPassword()"
>
</app-form>
}@else {
<div class="flex justify-content-center mt-4">
  <p class="max-w-20rem">{{ message() }}</p>
</div>
}
