<div class="grid mb-5">
  @if(cardStatistcs().length){ @for(item of cardStatistcs(); track $index){
  <div class="col-12 md:col-4 lg:col-3">
    <app-card-content
      [title]="item.name"
      [count]="item.count"
      [iconClass]="item.icon"
      [typeTime]="item.type_time"
    ></app-card-content>
  </div>
  } }@else { @for (i of [] | range:3; track $index){
  <div class="col-12 md:col-4 lg:col-3">
    <p-skeleton width="100%" height="4rem" />
  </div>
  } }
</div>

<app-table-wrapper [headerTitle]="indexMeta.indexTitle"
                   [titleIcon]="indexMeta.indexIcon"
                   [headerBtnLabel]="indexMeta.createBtnLabel"
                   [columns]="indexMeta.columns"
                   [dataSource]="records()"
                   [loading]="isLoading()"
                   [totalRecords]="totalRecords()"
                   [recordsFiltered]="recordsFiltered()"
                   paginatorPosition="both"
                   [stateKey]="indexMeta.indexTableKey"
                   [displayHeaderButton]="indexMeta.displayHeaderButton"
                   [indexRole]="roles().index"
                   [withActionsColumn]="indexMeta.withAction"
                   [updateBtnRole]="roles().update"
                   [createBtnRole]="roles().create"
                   [deleteBtnRole]="roles().delete"
                   [globalFilterValue]="globalFilterValue"
                   [reorderableColumns]="indexMeta.reorderableColumns ?? false"
                   [reorderableRows]="indexMeta.reorderableRows ?? false"
                   (createBtnClicked)="openCreateRecordDialog()"
                   (updateBtnClicked)="openUpdateRecordDialog($event)"
                   (deleteBtnClicked)="deleteRecord($event)"
                   (onLoadData)="loadRecords($event)"></app-table-wrapper>
